.table{

}

body{
	font-family: 'roboto';
}

.judul{
	background: #21214a;
	padding: 10px;
	text-align: center;

}

.judul h1,h2,h3{
	height: 20px;
}

a{
	/*color: #fff;*/
	padding: 5px;
	text-decoration: none;	
}


.table{
	border-collapse: collapse;
}

table.table th th , table.table tr td, table.table tr th{
	padding: 10px 20px;
	background-color: #21214a;

}
		.body{
				background-image: url('images/bg.jpg');
				width: 100%;
				height: 800px;
			}
		.nav {
			margin: auto;
			text-align: center;
			width: 100%;
			font-family: arial;
		}
		.btn {
			padding: 10px 24px;
			border: 2px;
			background: #21214a;
			font-weight: bold;
			font-size: 14px;
			font-family: "calibri", Times, serif;
			text-align: center;
			text-transform: uppercase;
			text-align: center;
}
}
		a {
			color: white;
		}
		tr {
			color: white;
		}
		td{
			color: white;
		}
		h1 {
			color: white;
			font-size: 50px;
		}
		h2{
			color: white;
		}
		h3 {
			color: white;
		}
				